<Sounds>
    <Girl22>
        <Sound word="22娘，哒哟~">22-1.wav</Sound>
        <Sound word="今天，你发弹幕了吗？">22-2.wav</Sound>
        <Sound word="好痒~好痒~不要戳啦~~">22-3.wav</Sound>
        <Sound word="我可是很聪明哒！">22-4.wav</Sound>
        <Sound word="不要摸我，会变笨蛋的！">22-5.wav</Sound>
        <Sound word="弹幕狂欢！！！">22-6.wav</Sound>
        <Sound word="弹幕太薄了啦~~~">22-7.wav</Sound>
        <Sound word="23232~~~">22-8.wav</Sound>
        <Sound word="我果然是个天才！">22-9.wav</Sound>
        <Sound word="把你Bilibili掉！">22-10.wav</Sound>
        <Sound word="呜哇~~">22-drag.wav</Sound>
    </Girl22>
    <Girl33>
        <Sound word="33娘哒呦~">33-1.wav</Sound>
        <Sound word="硬币糊你一脸">33-2.wav</Sound>
        <Sound word="我要啃电池">33-3.wav</Sound>
        <Sound word="不要碰我！">33-4.wav</Sound>
        <Sound word="啊~~~">33-5.wav</Sound>
        <Sound word="嗯~~~">33-6.wav</Sound>
        <Sound word="围观~围观~">33-7.wav</Sound>
        <Sound word="代~码~爆~破~">33-8.wav</Sound>
        <Sound word="23232~">33-9.wav</Sound>
        <Sound word="把你Bilibili掉！">33-10.wav</Sound>
        <Sound word="嗯？">33-drag.wav</Sound>
    </Girl33>
</Sounds>